{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "amd": true
  },
  "plugins": ["react", "react-native", "prettier"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react-native/no-unused-styles": 2,
    "react-native/no-inline-styles": 2,
    "no-useless-escape": 0
  }
}
